<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium WebDriver Test Suite" parallel="methods" thread-count="1">
    <test name="All Tests">
        <packages>
            <package name="alert.*"/>
            <package name="formSubmit.*"/>
            <package name="dropdown.*"/>
            <package name="hover.*"/>
            <package name="uploadFile.*"/>
<!--            <package name="delays."/>-->
<!--            <package name="scrolling."/>-->
<!--            <package name="modals."/>-->
            <package name="keys."/>
<!--            <package name="links."/>-->
        </packages>
    </test>
</suite>